@using Blazored.Video
@using AntDesign
@inherits VideoFrame

@if (Video != null)
{
    @if (Video.DownloadedPath != null)
    {
        <BlazoredVideo
            @ref="Player"
            CanPlay="CanPlay"
                       Ended="Ended"
                       CanPlayThrough="CanPlayThrough"
                       Abort="Abort"
                       Error="Error"
                       LoadedData="LoadedData"
                       
                       class="w-100"
                       controls="controls">
            <source src="@Video.DownloadedPath" type="video/mp4"/>
        </BlazoredVideo>
    }
    else
    {
        <h4>Video is not downloaded</h4>
    }
}
else
{
    <Skeleton/>
}
