@page "/Account/Manage/AuthToken"
@using MediaFeeder.Helpers
@inject IdentityUserAccessor UserAccessor

<h3>AuthToken</h3>

<pre>@Token1</pre><br/>
<pre>@Token2</pre>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    [Inject] private TokenHelper TokenHelper { get; set; }
    public string Token1 { get; set; } = "Loading...";
    public string Token2 { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        Token1 = TokenHelper.GenerateAPIJwt(user);
        Token2 = TokenHelper.GeneratePlaybackJwt(user, 439110);
    }
}
