@page "/auth"
@using MediaFeeder.Components.Tree

@attribute [Authorize]
@attribute [StreamRendering]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!


    Folders:
    <TreeView/>
</AuthorizeView>
