@page "/Sessions"
@using MediaFeeder.PlaybackManager

<h3>Sessions</h3>

@if (SessionManager != null)
{
    @foreach (var session in SessionManager.PlaybackSessions)
    {
        <GridCol Md="6" Sm="12" Xs="12">
            <SessionInfo Session="@session"/>
        </GridCol>
    }
}

@code {
    [Inject] public PlaybackSessionManager? SessionManager { get; set; }

    protected override void OnParametersSet()
    {
        if (SessionManager != null)
            SessionManager.UpdateEvent += () => InvokeAsync(StateHasChanged);
    }
}