@page "/Sessions"
@using MediaFeeder.PlaybackManager
@inject IConfiguration Configuration

<Card Title="Sessions">
    <Extra>
        <a href="@(Configuration.GetValue<string>("base_path", "/"))">Home</a>
    </Extra>
    <ChildContent>
        <Tabs StandaloneInCard>
            @if (SessionManager != null)
            {
                @foreach (var session in SessionManager.PlaybackSessions)
                {
                    <TabPane>
                        <TabTemplate>@(session.Title)</TabTemplate>
                        <ChildContent>
                            <SessionInfo Session="@session"/>
                        </ChildContent>
                    </TabPane>
                }
            }
        </Tabs>
    </ChildContent>
</Card>

@code {
    [Inject] public PlaybackSessionManager? SessionManager { get; set; }

    protected override void OnParametersSet()
    {
        if (SessionManager != null)
            SessionManager.UpdateEvent += () => InvokeAsync(StateHasChanged);
    }
}
