@using MediaFeeder.Components.Tree
@inherits MainLayout

<PageTitle>Home</PageTitle>

<Layout>
    <Header Style="background-color: white;">
        <Flex Justify="space-between" Align="flex-start">
            <div class="top-row ps-3 navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <Title>MediaFeeder</Title>
                    </a>
                </div>
            </div>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        Hello, @context.User.Identity?.Name!
                    </Authorized>
                    <NotAuthorized>
                        <a href="Account/Login">Log in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </Flex>
    </Header>
    <Layout>
        <Sider Width="350" Style="background-color: white;">
            <TreeView/>
        </Sider>
        <Content>
            @Body
        </Content>
    </Layout>
</Layout>
