@inherits MainLayout
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<!-- need a div around everything for the isolated CSS to work. -->
<div>
    <Layout>
        <PageHeader Class="site-page-header">
            <TitleTemplate>
                <a class="navbar-brand" href="@(Configuration.GetValue<string>("base_path", "/"))">
                    <img src="@Assets["logo.png"]" alt="Logo image" height="30px"/>
                    <span class="title">MediaFeeder</span>
                </a>
                <SectionOutlet SectionName="TitleTemplate" />
            </TitleTemplate>
            <SubtitleTemplate>
                <SectionOutlet SectionName="SubtitleTemplate" />
            </SubtitleTemplate>
            <PageHeaderExtra>
                <SectionOutlet SectionName="PageHeaderExtra" />
            </PageHeaderExtra>
        </PageHeader>
        <Layout>
            @Body
        </Layout>
    </Layout>
</div>

<SectionContent SectionName="PageHeaderExtra">
    <Flex Direction="FlexDirection.Horizontal" Justify="FlexJustify.SpaceBetween" Align="FlexAlign.Center">
        <Menu Mode="MenuMode.Horizontal">
            <MenuItem>
                <MenuLink Href="">Home</MenuLink>
            </MenuItem>
            <MenuItem>
                <MenuLink Href="sessions">Sessions</MenuLink>
            </MenuItem>
        </Menu>

        <AuthorizeView>
            <Authorized>
                @context.User.Identity?.Name
            </Authorized>
            <NotAuthorized>
                <a href="Account/Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </Flex>
</SectionContent>